/target/
/.apt_generated/
/.apt_generated_tests/
/dependency-reduced-pom.xml
/Templet/
/Test/
/Resource/
/src/test/java
/src/test/resources
/logs/
.classpath
.factorypath
.project
.settings/
.gitignore
/bin/
/Result/
/test-output/
/lib/